.codegories-heading {
  text-align: center;
}
.codegories-container {
  background: rgb(255, 255, 255);
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.codegory-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 1px solid $main-color;
  padding: 10px;

  .codegories-topic {
    font-size: 1.5rem;
  }

  span {
    // color: white;
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2rem;
  }

  .codegories-posts-count {
    margin-bottom: 10px;
  }
  .codegories-link-div {
    width: 50px;
  }
}
