.codegorypage-container {
  padding: 20px;

  .codegorypage-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-bottom: 40px;

    h1 {
      font-family: "Major Mono Display", monospace;
    }
    .nerd-room-heading {
      font-family: "Press Start 2P", cursive;
    }
  }
  .codegorypage-settings {
    display: flex;
    justify-content: flex-end !important;
    margin: 20px 0 30px 0;
    width: 100%;
    // button {
    //   width: 100px;
    //   height: 30px;
    // }
    span {
      padding-top: 10px;
    }
  }
}

.create-post-container {
  width: 200px;
  margin: 0 auto 20px;
}
