.codegorypage-container {
  padding: 20px;

  .codegorypage-heading {
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // background-color: #283248;
    // padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 2px solid $main-color;
    h1 {
      font-family: "Major Mono Display", monospace;
    }
    .nerd-room-heading {
      font-family: "Press Start 2P", cursive;
    }
  }
  .codegorypage-settings {
    margin: 20px 0 0 0;
    width: 100%;
    button {
      width: 100px;
    }
  }
}

// .codegorypage-posts-container {
//   border-top: 1px solid $main-color;
// }
