.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-content {
  background-color: $main-color;
  // color: $light-font;
  height: 80vh;
  // width: 50vw;
  width: 70%;
  min-width: 300px;
  // max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // div {
  //   background-color: $second-color;
  //   height: 200px;
  //   width: 80%;
  // }
}

.recent-code-posts {
  background-color: $second-color;
  height: 35%;
  width: 80%;
  overflow: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 5px;
  }
}

.recent-nerd-posts {
  background-color: $second-color;
  height: 35%;
  width: 80%;
  overflow: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 5px;
  }
}

.calendar-list {
  background-color: $main-color;
  height: 70vh;
  width: 30vw;
  color: $light-font;
}
