.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  display: column !important;
  justify-content: space-around;
  align-items: center;
  .main-content {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .home-banner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 2px solid $main-color;
    h1 {
      font-family: "Major Mono Display", monospace;
    }
  }
}

.home-post-containers {
  display: flex;
  justify-content: center;
  width: 75vw;
  .recent-code-posts {
    height: 35%;
    min-height: 300px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    border: 10px solid $second-color;
    border-top: 40px solid $second-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > p {
      margin-top: 20px;
    }
    .view-posts {
      display: flex;
      justify-content: flex-end;
      background-color: $second-color;
      width: 100%;
      height: 40px;
      padding: 10px;
      a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      p {
        padding-right: 10px;
      }
    }
  }
}

.calendar-list {
  background-color: $main-color;
  height: 110vh;
  width: 30vw;
  // position: fixed;
  position: absolute;
  right: -265px;
  // right: -200px;
  top: $navbar-height;
  color: $light-font;
  transition: right 0.5s ease;
  border-bottom-left-radius: 50%;
  &:hover {
    right: 0;
    transition: right 0.5s ease;
  }
}

.calendar-icon-div {
  height: 80px;
  width: 80px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 1.2rem;
    padding-left: 20px;
  }
}
