.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  display: column !important;
  justify-content: space-around;
  align-items: center;
}

.main-content {
  // background-color: $main-color;
  // color: $light-font;
  // height: 80vh;
  // width: 50vw;
  // width: 70%;
  min-width: 300px;
  // max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // div {
  //   background-color: $second-color;
  //   height: 200px;
  //   width: 80%;
  // }
}

.recent-code-posts {
  background-color: $second-color;
  height: 35%;
  width: 100%;
  margin-bottom: 20px;
  overflow: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red-color;
    // border-radius: 5px;
  }
}

.recent-nerd-posts {
  background-color: $second-color;
  height: 35%;
  width: 100%;
  overflow: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red-color;
    // border-radius: 5px;
  }
}

.calendar-list {
  background-color: $main-color;
  height: 100vh;
  width: 30vw;
  position: absolute;
  right: -200px;
  top: $navbar-height;
  color: $light-font;
  transition: right 0.5s ease;
  &:hover {
    right: 0;
    transition: right 0.5s ease;
  }
}
