.postpage-post-container {
  padding: 20px;
  .postpage-post-heading {
    background-color: $second-color;
    padding: 10px;
    text-align: center;
    .postpage-post-stats {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
    }
  }
  .postpage-post-content {
    background-color: red;
    padding: 10px;
  }
  .postpage-settings {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    div {
      display: flex;
      button {
        margin-left: 10px;
        width: 80px;
      }
    }
  }
}
