.postpage-post-container {
  padding: 20px;
  .postpage-post-heading {
    background-color: $second-color;
    padding: 10px;
    text-align: center;
  }
  .postpage-post-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 40%;
    font-size: 0.8rem;
  }
  .postpage-post-content {
    border: 5px solid $second-color;
    padding: 10px;
  }
  .postpage-settings {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    div {
      display: flex;
      button {
        margin-left: 10px;
        width: 80px;
      }
    }
  }
  .postpage-editcomment {
    position: relative;
  }
}

.each-comment-container {
  border-bottom: 3px solid $second-color;
  background-color: $main-color;
  padding: 10px;
  margin: 20px 0;
  .comment-body {
    padding: 10px;
    // height: 80px;
    // background-color: $neutral-color;
    border-bottom: 3px solid $neutral-color;
  }
  .comment-stats {
    padding: 0 10px;
    // background-color: $neutral-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    margin: 10px 0 0 0;
    height: 30px;
    position: relative;
    width: 100%;
    div:nth-of-type(1) {
      display: flex;
      width: 30%;
      justify-content: space-between;
    }
  }
  .comment-settings {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 0 5px;
      font-size: 0.7rem;
    }
  }
}

.postpage-deletecomment {
  position: absolute;
  right: 50px;
  width: 100px;
  top: -40px;
}
