.profile-content {
  background: pink;
  // background: $main-color;
  width: 40vw;
  margin: auto;
  // height: 100vh;
  // position: absolute;
  // top: 0;
  // top: calc(0px - #{$navbar-height});
  // right: calc(0px - #{$navbar-width});
}
.profile-info {
  background: olive;
  width: 400px;
}
