.profile-content {
  background: $main-color;
  color: $light-font;
  width: 100%;
  margin: auto;
  min-width: 510px;
  max-width: 660px;
}
.profile-info {
  background: $second-color;
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profile-names {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    .profile-username {
      position: relative;
      z-index: 2;
      margin-bottom: 10px;
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        border-bottom: 20px solid $neutral-color;
        border-top: 20px solid $neutral-color;
        border-right: 20px solid transparent;
        border-left: 200px solid $neutral-color;
      }
      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        left: -20px;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 20px solid $neutral-color;
      }
    }
  }
}
.profile-controller {
  display: flex;
  justify-content: space-between;
  .profile-page-tabs {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    li {
      padding: 10px;
      width: 110px;
      border-right: 1px solid $second-color;
      border-top: 1px solid $second-color;
      font-size: 0.8rem;
      &:hover {
        background-color: $second-color;
        cursor: pointer;
        transition: background-color 200ms ease;
      }
    }
  }
}
.profile-page-posts {
  // margin: 5px 10px;
}

.profile-tab-active {
  background-color: $second-color;
}

.avail-button-div {
  width: 170px;
  button {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px $second-color;
  }
}

.no-posts-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    // height: 100%;
  }
}
