.calendar-availability {
  // background-color: $neutral-color;
  // border: 3px solid $main-color;
}

.calendar-container {
  // height: 700px !important;
  // z-index: 3;
  position: relative;
  left: 10%;
  .calendar-availability {
    height: 100%;
  }
  .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard {
    // height: 100% !important; // not working dear lord
    // background-color: $main-color;
  }
}

.update-avail-button {
  // width: 300px;
  // height: 70px;
  // font-size: 1.4rem;
  padding: 5px 13px;
  background-color: $button-color;
  // border: 1px solid $main-color;
  // margin: auto;
  // display: inline-block;
}
