.add-post-form {
  margin: auto;
  padding: 20px;
  background-color: #283248;
  input,
  textarea {
    width: 100%;
    padding: 10px;
  }
  textarea {
    height: 200px;
  }
  input[type="submit"] {
    background-color: $deep-clr;
  }
}

.add-comment-form {
  margin: auto;
  padding: 20px;
  background-color: $second-color;
  div {
    width: 90%;
    margin: auto;
  }
}

.font-icon {
  font-size: 1.1rem;
}

.edit-comment-form {
  width: 500px;
  height: 200px;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 40px;
  .edit-textarea {
    height: 80%;
  }
}
.buttons-container {
  width: 100% !important;
  input {
    // margin: 0 30px;
  }
}

.edit-profile-container {
  max-width: 300px;
  background-color: $main-color;
  .edit-profile-form {
    margin: auto;
    padding: 20px;
  }
}
