form {
  background-color: red;
}

.add-post-form {
  width: 90%;
  margin: 50px auto;
  input,
  textarea {
    width: 100%;
    padding: 10px;
  }
  textarea {
    height: 200px;
  }
  input[type="submit"] {
    background-color: $second-color;
  }
}

.add-comment-form {
  margin: auto;
  padding: 20px;
  background-color: $second-color;
  div {
    width: 90%;
    margin: auto;
  }
}
