.each-post {
  background: $second-color;
  border-bottom: 5px solid $neutral-color;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  width: 95%;
  padding: 10px;
  margin: 10px;
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 5px;
  }
  .post-content {
    border-bottom: 1px solid $neutral-color;
    height: 150px;
    p:nth-of-type(1) {
      text-align: center;
      font-size: 0.8rem;
      margin-bottom: 10px;
    }
    .truncated-title {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    .truncated-content {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
  .post-content-second {
    margin: 10px 0 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    span {
      padding-left: 10px;
    }
  }
}
