// Variables
$background-color: #364159;
$main-color: #212637;
$second-color: #283248;
$accent-color: #0875b3;
$neutral-color: #6a6d73;
$lighter-color: #b0c6d9;

$btn-color: #212637;
$btn-color-hv: #283248;
$btn-dark-hv: #151d2e;
$edit-btn-clr: #364159;
$edit-btn-clr-hv: #444f68;
$delete-btn-clr: #500;
$delete-btn-clr-hv: rgb(113, 3, 3);

// matching favicon colors
$blue-color: #025;
$blue2-color: #124;
$black-color: #222;
$red-color: #500;

$medium-color: #0991e0;
$md-shade-color: #0875b3;

$light-font: #fff;
$dark-font: #000;

$deep-clr: #1c1e26;
$med-clr: #364159;
$neutral-clr: #6a6d73;
$light-clr: #b8cad9;
$dark-clr: #0d0c07;
$lighter-clr: #b0c6d9;
$accent-clr: #f28699;
$accent-red: #960d0d;
$deep-red: #640d0d;

$navbar-height: 60px;
$navbar-width: 200px;
// $navbar-width: 160px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $light-font;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  white-space: pre-line;
  user-select: none;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  body {
    background-color: $background-color;
    overflow-x: hidden;
  }
  .cursor {
    cursor: pointer;
  }
  .logo {
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Major Mono Display", monospace;
  }
  .logo-emphasis {
    font-family: "Major Mono Display", monospace;
  }
  input,
  textarea {
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid $neutral-clr;
    color: $dark-font;
  }
  textarea {
    white-space: pre-line;
  }
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 2px solid $main-color;
  h1 {
    font-family: "Major Mono Display", monospace;
  }
}

.page-container {
  position: relative;
  margin: auto;
  width: calc(95vw - #{$navbar-width});
}

.hide-content {
  display: none !important;
}

// buttons

input[type="submit"],
input[type="button"],
button {
  // color: $light-font;
  // outline: none;
  // border: none;
  // background-color: $deep-clr;
  // cursor: pointer;
  // padding: 5px 10px;
  // border-radius: 3px;
  // &:focus,
  // &:hover {
  //   background-color: $deep-red;
  //   transition: all 200ms ease;
  //   transition: border 200ms ease;
  // }
}
.delete-button-confirm {
  background-color: $deep-red;
  box-shadow: 0 0 2px solid $main-color;
}

.btn {
  // max-width: 120px;
  // width: 100%;

  width: 120px;

  // height: 30px;
  color: $light-font !important;
  outline: none;
  border: none;
  background-color: $btn-color;
  user-select: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 120ms ease;
  &:focus,
  &:hover {
    background-color: $btn-dark-hv;
    transition: all 120ms ease;
  }
}
.btn-wide {
  width: 100%;
}
.btn-edit {
  // background-color: $edit-btn-clr;
  transition: all 120ms ease;
  &:focus,
  &:hover {
    background-color: $edit-btn-clr-hv;
    transition: all 120ms ease;
  }
}
.btn-delete {
  background-color: $delete-btn-clr;
  transition: all 120ms ease;
  &:focus,
  &:hover {
    background-color: $delete-btn-clr-hv;
    transition: all 120ms ease;
  }
}

// errors

.error-div {
  display: none;
  border: 3px solid $red-color;
  margin: 0 auto 20px;
  padding: 10px;
  // width: 50%;
  // min-width: 300px;
}
.error-container {
  border: 3px solid $red-color;
  margin: 0 auto 20px;
  padding: 10px;
  width: 50%;
  min-width: 300px;
}
.error-icon {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
  path {
    color: $red-color;
  }
}
.error-message {
  text-align: center;
  user-select: none;
}

// Imports
@import "pages/codegory";
@import "pages/findbuddy";
@import "pages/requestbuddy";
@import "pages/home";
@import "pages/landing";
@import "pages/postpage";
@import "pages/codegories";
@import "pages/collablab";
@import "pages/profile";
@import "pages/nerdroom";
@import "components/navbar";
@import "components/sidenav";
@import "components/posts";
@import "components/forms";
@import "components/calendar";
@import "./mediaqueries";
