* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #000;
}

* li {
  list-style: none;
}

.page-container {
  position: absolute;
  left: 160px;
  bottom: 0;
  height: calc(95vh - 60px);
  width: calc(95vw - 320px);
}

.find-buddy-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aquamarine;
}

.buddy-instructions {
  background-color: cadetblue;
  height: 60vh;
  width: 40vh;
}

.all-availability {
  background-color: gold;
  height: 60vh;
  width: 40vw;
}

.home-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  background-color: #1e3368;
  height: 80vh;
  width: 70%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-code-posts {
  background-color: white;
  height: 35%;
  width: 80%;
  overflow: scroll;
}

.recent-code-posts::-webkit-scrollbar {
  background-color: transparent;
}

.recent-code-posts::-webkit-scrollbar-corner {
  background-color: transparent;
}

.recent-code-posts::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}

.recent-nerd-posts {
  background-color: white;
  height: 35%;
  width: 80%;
  overflow: scroll;
}

.recent-nerd-posts::-webkit-scrollbar {
  background-color: transparent;
}

.recent-nerd-posts::-webkit-scrollbar-corner {
  background-color: transparent;
}

.recent-nerd-posts::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}

.calendar-list {
  background-color: #1e3368;
  height: 70vh;
  width: 30vw;
  color: #fff;
}

.codegories-heading {
  text-align: center;
}

.codegories-container {
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.codegory-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border: 3px solid #1e3368;
  padding: 10px;
  margin: 10px 0;
}

.codegory-card .codegories-topic {
  font-size: 1.5rem;
  width: 150px;
}

.codegory-card .codegories-topic-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.codegory-card span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2rem;
}

.codegory-card .codegories-posts-count {
  margin-bottom: 10px;
}

.codegory-card .codegories-link-div {
  width: 50px;
}

.profile-content {
  background: pink;
  width: 40vw;
  margin: auto;
}

.profile-info {
  background: olive;
  width: 400px;
}

nav {
  background-color: #1e3368;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

nav a {
  color: white;
}

nav svg {
  color: white;
}

.codependent-logo {
  height: 100%;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codependent-logo a {
  font-size: 1.4rem;
}

.profile-nav {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-nav li {
  margin-left: 10px;
}

.side-nav {
  background-color: #1e3368;
  height: 100vh;
  position: fixed;
  width: 160px;
  padding-top: 100px;
  z-index: -1;
  left: 0;
}

.side-nav li {
  display: inline-block;
  margin: 0 0 30px 20px;
  padding: 5px;
}

.side-nav li:hover {
  border-bottom: 1px solid #0088ff;
}

.user-nav {
  background-color: #1e3368;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 160px;
  padding-top: 100px;
  z-index: -1;
}

.user-nav li {
  display: inline-block;
  margin: 0 0 30px 20px;
  padding: 5px;
}

.user-nav li:hover {
  border-bottom: 1px solid #0088ff;
}

.each-post {
  border-bottom: 3px solid rgba(44, 59, 108, 0.584);
  width: 100%;
  padding: 10px;
}

.each-post h3 {
  text-align: center;
  margin-bottom: 10px;
}

.each-post p {
  margin-bottom: 5px;
}

.each-post .post-content {
  border-bottom: 1px solid rgba(44, 59, 108, 0.584);
  height: 150px;
}

.each-post .post-content p:nth-of-type(1) {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.each-post .post-content-second {
  margin: 15px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.each-post .post-content-second span {
  padding-left: 10px;
}
/*# sourceMappingURL=styles.css.map */